body{
    background-color: brown;
}
table{
    background-color:darkorange
    border-color: black;
}
tr{
    background-color: goldenrod;
}
#imagen{
    transition: tranform 0.3s ease;
}
#imagen:hover{
    transform: scale(1.2);
}